body {	 background-image:url(
/storage/emulated/0/Download/modern-tech-background-networking-connections.jpg
) ;}

body {background-size: 550px 1000px ;
background-repeat: no-repeat;
border:solid 4px white;
border-radius:30px;
box-shadow: 3px 4px 5px red;}

div{color: white;
text-align: center;}

input{ background-color: black;
opacity: 	0.9; 
margin: auto;
border-radius : 50px;
border-color: lightgreen ;
padding: 9px;}

::placeholder{
	color: darkgreen;
}
button { background-color: black;
border-radius: 70px ;
padding: 22px;
border-color: lightgreen;}

a{color: white ;
	
}
button{color: 
	lightgreen
}